<div class="bg-white pv4">
  <div class="mw7 center ph3">
    <div class="flex-ns mhn2-ns relative">
        <div class="w4-ns mh2-ns relative">
          <h2 class="f2 b pl3 lh-title mb2 tvm-rl-ns ls-large absolute tr-180-ns transformed-ns split-color-ns split-color">{{.info.heading}}</h2>
          <h3 class="f3 lh-title tvm-rl-ns pt5-ns pt5  mb2 pr4 pb3 ph3 ls-middle bg-highlight absolute-ns tr-180-ns white bg-primary">{{.info.title}}</h3>
        </div>
        <div class="w-60-ns">
            <!-- Free Photo by Min An, Canva -->
            <img src="img/default/about-full-width.jpg" alt="Vanja Ljevar" class="center db mb3">
        </div>
        <div class="w-50-ns absolute-ns bg-white-02 pa3 top-3">
            <h4 class="f3 lh-title mb2">{{.info.subtitle}}</h4>
            <p class="mw6 pf-1">{{.info.text}}</p>
            <div class="tc">
              <a href="/about"><p class="pa1 link b dib black mb0">Read more →</p></a>
            </div>
        </div>
      </div>
  </div>
</div>

