<footer class="bg-grey-2 ph3 pv2 relative">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb2">
			<a href="/" class="measure-narrow center mb2">
				<img src="/img/default/logo.svg" alt="Tryanglist logo" class="db w4 center mb2 br0">
			</a>
			<!-- <p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }} -->

		</div>

		<div class="relative">
			<div class="flex justify-center">
				<ul class="mb2 tc flex-ns justify-center">
					<li class="mh3"><a href="/about" class="pv1 no-underline ttu db-ns fh fw3">About</a></li>
					<li class="mh3"><a href="/post" class="pv1 no-underline ttu db-ns fh fw3">Blog</a></li>
					<li class="mh3"><a href="/contact" class="pv1 no-underline ttu db-ns fh fw3">Contact</a></li>
				</ul>
			</div>
			<div>
				<ul class="mhn2 justify-center">
					<li class="dib ph2 raise pa2">
						<a href="https://www.linkedin.com/in/vanja-ljevar-17788417/" target="_blank" class="link black db pa2 relative br-100">
							<img src="img/default/social-icons/icon-linkedin.svg" alt="linkedIn" style="width:32px;">
						</a>
					</li>
					<li class="dib ph2 raise pa2">
						<a href="https://neodem.wp.horizon.ac.uk/research-team/" target="_blank" class="link black db pa2 relative br-100">
							<img src="img/default/social-icons/icon-nlab-hexagon.svg" alt="instagram" style="width:32px;">
						</a>
					</li>
				</ul>
			</div>
			<div class="tc b--white bt">
				<span class="f7 h6">Copyright©<a href="https://myartmomentum.com" target="_blank">MyArtMomentum</a></span>
			</div>
		</div>
	</div>
</footer>



