<div class="pv3 pv3-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative mb3">
          <div class="flex-ns mhn2-ns relative">
              <div class="w4-ns mh2-ns relative">
                <h1 class="f2 b lh-title pl3 mb2 ls-large tvm-rl-ns absolute tr-180-ns transformed-ns split-color-ns split-color">CONTACT</h2>
                <h3 class="f3 lh-title  tvm-rl-ns pt5-ns pt5  mb2 pr4 pb3 ph3 ls-middle bg-highlight absolute-ns tr-180-ns white bg-primary">Info</h3>
              </div>
              <div class="w-40-ns pa3 ">
                  <img src="/img/default/logo.svg" alt="Contact me" class="w4 db mb3">
                
              </div>
              <div class="w-60-ns pa3 bg-white-02 ">
                  <h4 class="f4 lh-title mb2">Email</h4>
                  <p class="mw6 pf-1">info@tryanglist.com</p>
                  <h4 class="f4 lh-title mb2">Location</h4>
                  <p class="mw6 pf-1">NOTTINGHAM, ENGLAND, UK</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
