
 
<div class="white bg-primary pt4 pb2 pl4 pr4 justify-center ">
	<div class="mr4 tc"><h4 class="f4 lh-title mb2">Get awesome content in your inbox!</h3></div>
	<div class="">
      <form name="newsletter" method="POST" data-netlify="true"  class="flex-ns mb3">

          <fieldset class="flex-auto mb2 mb0-ns mr2-ns bg-white-03" name="newsletter" action="newsletter-subscribe">
            <input type="text" id="email" name="email" placeholder="Your email" class="w-100 bg-white-03 black">
            <label for="email">Your email</label>
          </fieldset>
        
          <button class="btn-primary fw2 raise" type="submit">Subscribe →</button>
        
        </form>
		<!-- <a href="/contact"><p class="pa1 link b dib black mb0">Subscribe →</p></a> -->
	</div>
</div>