{{ define "main" }}

<div class="mw7 pt3 dn-ns nav-small">
	<!-- Logo --> 
	<a href="/" class="measure-narrow center">
		<img src="/img/default/logo.svg" alt="Tryanglist logo" class="db w4 center mb4 br0"/>
	</a>
</div>

<div class="ph3 bg-white">
	<div class="center mw7 pv3">
    <div class="flex-ns mhn2-ns relative mb3">
      <div class="w4-ns mh2-ns relative">
        <h1 class="f2 b pl3 lh-title mb2 tvm-rl-ns ls-large absolute tr-180-ns transformed-ns split-color-ns split-color">ABOUT</h2>
        <h3 class="f3 lh-title ml4-ns tvm-rl-ns pt5-ns pt5 white mb2 pr4 pb3 ph3 ls-middle bg-primary absolute-ns tr-180-ns">Vanja Ljevar</h3>
      </div>
      <div class="w-40-ns">
        <!-- Image source: Canva website - Photo by Claire Thibault -->
        <img src="/img/default/i-about-home.jpg" alt="Contact me" class="center db mb3">
      </div>
      <div class="w-50-ns absolute-ns bg-white-02 pa3 top-3 di-ns dn">
          <img src="/img/default/logo.svg" alt="Contact me" class="w4 db mb3">
            <h4 class="f3 lh-title mb2">Data Scientist. Social Psychologist. Brand Storyteller.</h4>
            <p class="mw6 f7 pf-1">After years of working on research projects for globally recognised clients 
              (from both academic and industry perspective) Tryanglist became an idea of mine in which I planned 
              to combine my passion for data science techniques, advertising and psychology to change perspectives 
              in creating customer insights.</p>
            <p class="mw6 f7 pf-1">Currently, I can be found as a PhD researcher at the UoN where I investigate 
              customer perceptions and work as a teaching affiliate at the Business Analytics module.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey-1 pv4 mt2">
    <div class="ph3 mw7 center">
      <div class="pa3 mb3 bg-white" style="margin-top:-50px;">
        <h3 class="f3 tc lh-title mb3">My main goal is helping businesses to not settle. Think in a predatory way. Try new angles. Create real momentum for transformation.</h3>
      </div>
      <div class="mw7 center ph3 pt2">
        <h2 class="f2 tc lh-title mt5 mb2">MY MAIN SET OF SKILLS</h2>
        <div class="w-100 flex-ns flex-row-ns inline-flex-ns justify-between mhn1-ns flex-wrap mb3 pt4">
          <div class="ph2-ns pv4 tc w-33-ns">
            <img src="/img/icons/machine-learning.svg" alt="Machine learning" class="ph2 w-15"> 
            <h4 class="f3 pv2">Machine Learning</h4>
          </div>
          <div class="ph2-ns tc pv4 w-33-ns">
            <img src="/img/icons/deep-learning.svg" alt="Machine learning" class="ph2 w-15">
            <h4 class="f3 pv2">Deep Learning</h4>
          </div>
          <div class="ph2-ns tc pv4 w-33-ns">
            <img src="/img/icons/statistical-modeling.svg" alt="Statistical Modelling" class="ph2 w-15">
            <h4 class="f3 pv2">Statistical Modelling</h4>
          </div>
          <div class="ph2-ns tc pv4 w-33-ns">
            <img src="/img/icons/sql.svg" alt="SQL" class="ph2 w-15">
            <h4 class="f3 pv2">SQL</h4>
          </div>
          <div class="ph2-ns pv4 tc w-33-ns">
            <img src="/img/icons/qualitative-methods.svg" alt="Qualitative Methods" class="ph2 w-15">
            <h4 class="f3 pv2">Qualitative Methods</h4>
          </div>
          <div class="ph2-ns tc pv4 w-33-ns">
            <img src="/img/icons/data-analysis-python.svg" alt="Analyitics Using Python" class="ph2 w-15">
            <h4 class="f3 pv2">Predictive Analytics using Python</h4>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="ph3 pv4 mt4 bg-white">
  <h2 class="f2 tc lh-title mv3">PREVIOUS WORK</h2>
  <h3 class="f3 tc lh-title mb4">It starts and finishes with my passion for new ideas and understanding people</h3>
          
	<div class="center mw7 pt3">
    <div class="flex-ns mhn2-ns relative mt4-ns mt3 mh3-ns">
      <div class="w-50-ns">
        <!-- Image source: Canva website - Photo by Claire Thibault -->
        <img src="/img/default/about-full-width.jpg" alt="Contact me" class="center db">
      </div>
      <div class="w-50-ns bg-white-02 pv2 ph3-ns">
        <h3 class="f3 b lh-title mb2">Customer segmentation & customer profiling</h3>
        <h4 class="f45 lh-title mb2">IIntegrating transactional and survey data to obtain and describe 
          segments of customers though their representative members</h4>
        <p class="mw6 f6 pf-1">This kind of insights describe the customer base and point to the best ways of communicating with the target market. </p>
      </div>
    </div>
    <div class="flex-ns mhn2-ns mt3 mt0-ns relative mh3-ns">
      <div class="w-50-ns dn-ns">
          <!-- Image source: Canva website - Photo by Claire Thibault -->
          <img src="/img/default/about-customer.jpg" alt="Contact me" class="center db">
      </div>
      <div class="w-50-ns bg-white-02 pv2 ph3-ns">
          <h3 class="f3 b lh-title mb2">Customer behaviour & behavioural change</h3>
          <h4 class="f45 lh-title mb2">Translating psychological concepts in big data can shed light on understanding 
            customer behaviours such as impulsivity, habitualness and brand switching</h4>
          <p class="mw6 f6 pf-1">The results of this model was a rank of the most relevant 
            psychological and behavioural traits that drive behaviours.</p>
      </div>
      <div class="w-50-ns db-ns dn">
          <!-- Image source: Canva website - Photo by Claire Thibault -->
          <img src="/img/default/about-customer.jpg" alt="Contact me" class="center db">
      </div>
    </div>
    <div class="flex-ns mhn2-ns mt3 mt0-ns relative mh3-ns">
        <div class="w-50-ns">
            <!-- Image source: Canva website - Photo by Claire Thibault -->
            <img src="/img/default/story-full-width.jpg" alt="Contact me" class="center db">
          </div>
      <div class="w-50-ns bg-white-02 pv2 ph3-ns">
          <h3 class="f3 b lh-title mb2">Retention analysis & Brand storytelling</h3>
          <h4 class="f45 lh-title mb2">Detecting and understanding who the most profitable customers are.</h4>
          <p class="mw6 f6 pf-1">Understanding which 'phase' of retention each customer is, helps us create
             personalisation with the goal of aligning brand storytelling with the world view of customes.</p>
      </div>
    </div>
  
</div>
</div>
<div class="mt4 white bg-primary pa4 flex flex-row-ns justify-center ">
  <div class="mr4"><h4 class="f4 lh-title mb2">Have a Question. I have Answers!</h3></div>
  <div class="">
      <a href="/contact"><p class="pa1 link b dib black mb0">Contact me →</p></a>
  </div>
</div>

{{ end }}
